// Global
// ==============================
body, p, h1, h2, h3, ul, ol, dl, li, dt, dd, input {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    border: none;
    vertical-align: top;
}

a {
	text-decoration: none;
}
i{
	 font-style: initial;
}
input, select {
	-webkit-appearance: none;
	appearance: none;
	outline: none;
}

html, body {
	width: 100%;
	min-height: 100%;
	background-color: #f0f0f0;
}

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-family: 'Microsoft YaHei', Arial;
}
// 中文使用字体
@font-face {
	font-family: '兰亭粗黑GBK';
	src: url('../fonts/兰亭粗黑GBK.TTF');
}
@font-face {
	font-family: '兰亭纤黑GBK';
	src: url('../fonts/兰亭纤黑GBK.TTF');
}
@font-face {
	font-family: '兰亭细黑GBK-Mobil';
	src: url('../fonts/兰亭细黑GBK-Mobil.TTF');
}
@font-face {
	font-family: '兰亭细黑GBK';
	src: url('../fonts/兰亭细黑GBK.TTF');
}
@font-face {
	font-family: '兰亭黑GBK';
	src: url('../fonts/兰亭黑GBK.TTF');
}
// 英文用DIN字体
@font-face {
	font-family: 'DIN-Black';
	src: url('../fonts/DIN-Black.otf');
}
@font-face {
	font-family: 'DIN-Bold';
	src: url('../fonts/DIN-Bold.otf');
}
@font-face {
	font-family: 'DIN-Light';
	src: url('../fonts/DIN-Light.otf');
}
@font-face {
	font-family: 'DIN-Medium';
	src: url('../fonts/DIN-Medium.otf');
}

@keyframes logo_01 {
	0%{
		left: -100%;
		top: -50%;
	}
	100%{
		left: 155px;
		top: 0;
	}
}
@keyframes logo_02 {
	0% {
		left: -100%;
		top: -50%;
	}

	100% {
		left: 375px;
		top: 0;
	}
}
@keyframes logo_03 {
	0% {
		left: -100%;
		top: -60%;
	}

	100% {
		left: 265px;
		top: 45px;
	}
}
@keyframes logo_04 {
	0% {
		left: -100%;
		top: -60%;
	}

	100% {
		left: 435px;
		top: 40px;
	}
}
@keyframes logo_05 {
	0% {
		left: -100%;
		top: -60%;
	}

	100% {
		left: 20px;
		top: 60px;
	}
}
@keyframes logo_06 {
	0% {
		left: -100%;
		top: -40%;
	}

	100% {
		left: 160px;
		top: 130px;
	}
}
@keyframes logo_07 {
	0% {
		left: -100%;
		top: -40%;
	}

	100% {
		left: 280px;
		top: 125px;
	}
}
@keyframes logo_08 {
	0% {
		left: -100%;
		top: -40%;
	}

	100% {
		left: 150px;
		top: 200px;
	}
}
@keyframes logo_09 {
	0% {
		left: -100%;
		top: -40%;
	}

	100% {
		left: 305px;
		top: 185px;
	}
}
@keyframes logo_10 {
	0% {
		left: -100%;
		top: -40%;
	}

	100% {
		left: 405px;
		top: 140px;
	}
}
@keyframes logo_11 {
	0% {
		left: -100%;
		top: -40%;
	}

	100% {
		left: 465px;
		top: 220px;
	}
}
@keyframes logo_12 {
	0% {
		left: -100%;
		top: -40%;
	}

	100% {
		left: 25px;
		top: 225px;
	}
}
@keyframes logo_13 {
	0% {
		left: -100%;
		top: -40%;
	}

	100% {
		left: 0;
		top: 330px;
	}
}
@keyframes logo_14 {
	0% {
		left: -100%;
		top: -40%;
	}

	100% {
		left: 95px;
		top: 285px;
	}
}
@keyframes logo_15 {
	0% {
		left: -100%;
		top: -40%;
	}

	100% {
		left: 165px;
		top: 288px;
	}
}
@keyframes logo_16 {
	0% {
		left: -100%;
		top: -40%;
	}

	100% {
		left: 332px;
		top: 335px;
	}
}