@charset "UTF-8";

body,
p,
h1,
h2,
h3,
ul,
ol,
dl,
li,
dt,
dd,
input {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  border: none;
  vertical-align: top;
}

a {
  text-decoration: none;
}

i {
  font-style: initial;
}

input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

html,
body {
  width: 100%;
  min-height: 100%;
  background-color: #f0f0f0;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Microsoft YaHei', Arial;
}

@font-face {
  font-family: '兰亭粗黑GBK';
  src: url("../fonts/兰亭粗黑GBK.TTF");
}

@font-face {
  font-family: '兰亭纤黑GBK';
  src: url("../fonts/兰亭纤黑GBK.TTF");
}

@font-face {
  font-family: '兰亭细黑GBK-Mobil';
  src: url("../fonts/兰亭细黑GBK-Mobil.TTF");
}

@font-face {
  font-family: '兰亭细黑GBK';
  src: url("../fonts/兰亭细黑GBK.TTF");
}

@font-face {
  font-family: '兰亭黑GBK';
  src: url("../fonts/兰亭黑GBK.TTF");
}

@font-face {
  font-family: 'DIN-Black';
  src: url("../fonts/DIN-Black.otf");
}

@font-face {
  font-family: 'DIN-Bold';
  src: url("../fonts/DIN-Bold.otf");
}

@font-face {
  font-family: 'DIN-Light';
  src: url("../fonts/DIN-Light.otf");
}

@font-face {
  font-family: 'DIN-Medium';
  src: url("../fonts/DIN-Medium.otf");
}

@keyframes logo_01 {
  0% {
    left: -100%;
    top: -50%;
  }

  100% {
    left: 2.066667rem;
    top: 0;
  }
}

@keyframes logo_02 {
  0% {
    left: -100%;
    top: -50%;
  }

  100% {
    left: 5rem;
    top: 0;
  }
}

@keyframes logo_03 {
  0% {
    left: -100%;
    top: -60%;
  }

  100% {
    left: 3.533333rem;
    top: 0.6rem;
  }
}

@keyframes logo_04 {
  0% {
    left: -100%;
    top: -60%;
  }

  100% {
    left: 5.8rem;
    top: 0.533333rem;
  }
}

@keyframes logo_05 {
  0% {
    left: -100%;
    top: -60%;
  }

  100% {
    left: 0.266667rem;
    top: 0.8rem;
  }
}

@keyframes logo_06 {
  0% {
    left: -100%;
    top: -40%;
  }

  100% {
    left: 2.133333rem;
    top: 1.733333rem;
  }
}

@keyframes logo_07 {
  0% {
    left: -100%;
    top: -40%;
  }

  100% {
    left: 3.733333rem;
    top: 1.666667rem;
  }
}

@keyframes logo_08 {
  0% {
    left: -100%;
    top: -40%;
  }

  100% {
    left: 2rem;
    top: 2.666667rem;
  }
}

@keyframes logo_09 {
  0% {
    left: -100%;
    top: -40%;
  }

  100% {
    left: 4.066667rem;
    top: 2.466667rem;
  }
}

@keyframes logo_10 {
  0% {
    left: -100%;
    top: -40%;
  }

  100% {
    left: 5.4rem;
    top: 1.866667rem;
  }
}

@keyframes logo_11 {
  0% {
    left: -100%;
    top: -40%;
  }

  100% {
    left: 6.2rem;
    top: 2.933333rem;
  }
}

@keyframes logo_12 {
  0% {
    left: -100%;
    top: -40%;
  }

  100% {
    left: 0.333333rem;
    top: 3rem;
  }
}

@keyframes logo_13 {
  0% {
    left: -100%;
    top: -40%;
  }

  100% {
    left: 0;
    top: 4.4rem;
  }
}

@keyframes logo_14 {
  0% {
    left: -100%;
    top: -40%;
  }

  100% {
    left: 1.266667rem;
    top: 3.8rem;
  }
}

@keyframes logo_15 {
  0% {
    left: -100%;
    top: -40%;
  }

  100% {
    left: 2.2rem;
    top: 3.84rem;
  }
}

@keyframes logo_16 {
  0% {
    left: -100%;
    top: -40%;
  }

  100% {
    left: 4.426667rem;
    top: 4.466667rem;
  }
}
/*# sourceMappingURL=global.css.map */
