html,
body {
  height: 100%;
  margin: 0;
}

.layout_box {
  max-width: 10rem;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: url(../imgs/one-swiper/bg.png) no-repeat;
  background-size: 100% 100%;
}

.layout_swiper_box {
  position: fixed;
  left: 50%;
  top: 0;
  max-width: 10rem;
  width: 100%;
  height: 100%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.layout_swiper_box .one-slide {
  position: relative;
  background: url(../imgs/one-swiper/bg_01.png) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.layout_swiper_box .one-slide .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 2.533333rem;
}

.layout_swiper_box .one-slide .loading img {
  width: 8.813333rem;
  height: 1.36rem;
}

.layout_swiper_box .one-slide .loading p {
  margin-top: 0.4rem;
  font-size: 0.466667rem;
  text-align: center;
  color: #fff;
  font-family: 'DIN-Bold';
}

.layout_swiper_box .one-slide .fingerprint_box {
  display: none;
  position: absolute;
  left: 50%;
  top: 60%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 4.76rem;
}

.layout_swiper_box .one-slide .fingerprint_box .logo_img {
  display: block;
  width: 4.76rem;
  height: 2.146667rem;
}

.layout_swiper_box .one-slide .fingerprint_box .fingerprint_img {
  display: block;
  width: 2.626667rem;
  height: 2.626667rem;
  margin: 1.333333rem auto 0.4rem;
  animation: flicker-1 2s linear infinite both;
}

.layout_swiper_box .one-slide .fingerprint_box .fingerprint_title {
  display: block;
  width: 1.706667rem;
  height: 0.96rem;
  margin: 0 auto;
}

.layout_swiper_box .one-slide .bubble_box .bubble {
  filter: blur(20px) grayscale(1);
}

.layout_swiper_box .one-slide .bubble_box .bubble_01 {
  position: absolute;
  left: 5.733333rem;
  top: -1.6rem;
  width: 3.253333rem;
  height: 3.053333rem;
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.layout_swiper_box .one-slide .bubble_box .bubble_01.on {
  animation: bubble-01 3s 1 ease-in;
  animation-fill-mode: forwards;
}

.layout_swiper_box .one-slide .bubble_box .bubble_01.active {
  animation: bubble-01-floating 3s infinite cubic-bezier(0.2, 0.4, 0.6, 0.8);
}

.layout_swiper_box .one-slide .bubble_box .bubble_02 {
  position: absolute;
  right: 2.266667rem;
  top: 5.333333rem;
  width: 1.426667rem;
  height: 1.48rem;
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.layout_swiper_box .one-slide .bubble_box .bubble_02.on {
  animation: bubble-02 3s 1 ease-in;
  animation-fill-mode: forwards;
}

.layout_swiper_box .one-slide .bubble_box .bubble_02.active {
  animation: bubble-02-floating 3s infinite cubic-bezier(0.5, 0.8, 1, 0.8);
}

.layout_swiper_box .one-slide .bubble_box .bubble_03 {
  position: absolute;
  top: 3.2rem;
  left: -1.866667rem;
  width: 3.346667rem;
  height: 3.48rem;
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.layout_swiper_box .one-slide .bubble_box .bubble_03.on {
  animation: bubble-03 3s 1 ease-in;
  animation-fill-mode: forwards;
}

.layout_swiper_box .one-slide .bubble_box .bubble_03.active {
  animation: bubble-03-floating 3s infinite cubic-bezier(0.2, 0.5, 1, 0.8);
}

.layout_swiper_box .one-slide .bubble_box .bubble_04 {
  position: absolute;
  top: 2rem;
  left: 1.6rem;
  width: 1.64rem;
  height: 1.693333rem;
}

.layout_swiper_box .one-slide .bubble_box .bubble_04.on {
  animation: bubble-04 3s 1 ease-in;
  animation-fill-mode: forwards;
}

.layout_swiper_box .one-slide .bubble_box .bubble_04.active {
  animation: bubble-04-floating 3s infinite cubic-bezier(0.3, 0.6, 0.8, 1);
}

.layout_swiper_box .one-slide .bubble_box .bubble_05 {
  position: absolute;
  right: -2rem;
  top: 2.506667rem;
  width: 4.186667rem;
  height: 4.32rem;
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.layout_swiper_box .one-slide .bubble_box .bubble_05.on {
  animation: bubble-05 3s 1 ease-in;
  animation-fill-mode: forwards;
}

.layout_swiper_box .one-slide .bubble_box .bubble_05.active {
  animation: bubble-05-floating 3s infinite cubic-bezier(1, 0.8, 0.6, 0.4);
}

.layout_swiper_box .one-slide .bubble_box .bubble_06 {
  position: absolute;
  top: 8.693333rem;
  right: -2rem;
  width: 4.066667rem;
  height: 4.24rem;
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.layout_swiper_box .one-slide .bubble_box .bubble_06.on {
  animation: bubble-06 3s 1 ease-in;
  animation-fill-mode: forwards;
}

.layout_swiper_box .one-slide .bubble_box .bubble_06.active {
  animation: bubble-06-floating 3s infinite cubic-bezier(0.3, 0.6, 0.8, 1);
}

.layout_swiper_box .one-slide .bubble_box .bubble_07 {
  position: absolute;
  left: -1.866667rem;
  top: 9.866667rem;
  width: 3.253333rem;
  height: 3.386667rem;
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.layout_swiper_box .one-slide .bubble_box .bubble_07.on {
  animation: bubble-07 3s 1 ease-in;
  animation-fill-mode: forwards;
}

.layout_swiper_box .one-slide .bubble_box .bubble_07.active {
  animation: bubble-07-floating 3s infinite cubic-bezier(0.3, 0.6, 0.8, 1);
}

.layout_swiper_box .one-slide .bubble_box .bubble_08 {
  position: absolute;
  bottom: 0.666667rem;
  left: -2.133333rem;
  width: 3.773333rem;
  height: 3.386667rem;
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.layout_swiper_box .one-slide .bubble_box .bubble_08.on {
  animation: bubble-08 3s 1 ease-in;
  animation-fill-mode: forwards;
}

.layout_swiper_box .one-slide .bubble_box .bubble_08.active {
  animation: bubble-08-floating 3s infinite cubic-bezier(0.3, 0.6, 0.8, 1);
}

.layout_swiper_box .one-slide .bubble_box .bubble_09 {
  position: absolute;
  right: -3.866667rem;
  bottom: 1.333333rem;
  width: 5.84rem;
  height: 5.626667rem;
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.layout_swiper_box .one-slide .bubble_box .bubble_09.on {
  animation: bubble-09 3s 1 ease-in;
  animation-fill-mode: forwards;
}

.layout_swiper_box .one-slide .bubble_box .bubble_09.active {
  animation: bubble-09-floating 3s infinite cubic-bezier(0.3, 0.6, 0.8, 1);
}

.layout_swiper_box .one-slide .bubble_box .bubble_10 {
  position: absolute;
  bottom: 1.533333rem;
  left: 2.6rem;
  width: 2.066667rem;
  height: 1.92rem;
}

.layout_swiper_box .one-slide .bubble_box .bubble_10.on {
  animation: bubble-10 3s 1 ease-in;
  animation-fill-mode: forwards;
}

.layout_swiper_box .one-slide .bubble_box .bubble_10.active {
  animation: bubble-10-floating 3s infinite cubic-bezier(0.3, 0.6, 0.8, 1);
}

.layout_swiper_box .one-slide .bubble_box .bubble_11 {
  position: absolute;
  left: 4rem;
  bottom: -2.666667rem;
  width: 4rem;
  height: 4.08rem;
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.layout_swiper_box .one-slide .bubble_box .bubble_11.on {
  animation: bubble-11 3s 1 ease-in;
  animation-fill-mode: forwards;
}

.layout_swiper_box .one-slide .bubble_box .bubble_11.active {
  animation: bubble-11-floating 3s infinite cubic-bezier(0.3, 0.6, 0.8, 1);
}

.layout_swiper_box .one-slide .bubble_title .logo_bg_title {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2.306667rem;
}

.layout_swiper_box .one-slide .bubble_title .bubble_title {
  display: none;
  position: absolute;
  left: 0.666667rem;
  top: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 7.52rem;
  height: 2.16rem;
}

.layout_swiper_box .one-slide .next {
  display: none;
}

.layout_swiper_box .two-slide {
  background: url(../imgs/two-swiper/mission_bg.jpg) no-repeat;
  background-size: cover;
}

.layout_swiper_box .two-slide .mission_title {
  width: 2.6rem;
  height: 1rem;
  margin-left: 0.733333rem;
}

.layout_swiper_box .two-slide .mission_title img {
  display: block;
  width: 100%;
}

.layout_swiper_box .two-slide .mission_desc {
  margin-top: 1.066667rem;
  margin-left: 0.733333rem;
  background: rgba(0, 0, 0, 0.4);
  font-size: 0.373333rem;
  color: #fff;
  width: 4.6rem;
  padding: 0.4rem 0.293333rem 0.4rem 0.4rem;
  letter-spacing: 0.026667rem;
}

.layout_swiper_box .two-slide .line {
  margin-top: 0.4rem;
  margin-left: 0.733333rem;
  width: 0.88rem;
  height: auto;
}

.layout_swiper_box .two-slide .line img {
  display: block;
  width: 100%;
}

.layout_swiper_box .three-slide {
  background: url(../imgs/three-swiper/bg.png) no-repeat;
  background-size: cover;
}

.layout_swiper_box .three-slide .title {
  width: 6.68rem;
  height: 1.76rem;
  margin-left: 0.733333rem;
}

.layout_swiper_box .three-slide .title img {
  display: block;
  width: 100%;
}

.layout_swiper_box .three-slide .desc_box {
  position: relative;
}

.layout_swiper_box .three-slide .desc_box .desc_01 {
  margin-top: 1.133333rem;
  margin-left: 0.733333rem;
  width: 3.6rem;
  height: 10.693333rem;
  background: url(../imgs/three-swiper/desc_bg01.png) no-repeat;
  background-size: contain;
}

.layout_swiper_box .three-slide .desc_box .desc_02 {
  position: absolute;
  right: 0.733333rem;
  top: -0.533333rem;
  width: 3.84rem;
  height: 11.506667rem;
  background: url(../imgs/three-swiper/desc_bg02.png) no-repeat;
  background-size: contain;
}

.layout_swiper_box .three-slide .desc_box .desc_03 {
  position: absolute;
  left: 2.266667rem;
  top: 5.066667rem;
  width: 5.906667rem;
  height: 8.12rem;
  background: url(../imgs/three-swiper/desc_bg03.png) no-repeat;
  background-size: contain;
}

.layout_swiper_box .three-slide .switch {
  position: absolute;
  left: 1.066667rem;
  bottom: 1.733333rem;
  width: 3.106667rem;
  height: 3.106667rem;
  animation: switch-scale 3s infinite;
}

.layout_swiper_box .three-slide .switch img {
  display: block;
  width: 100%;
}

.layout_swiper_box .four-slide {
  background: #a2a8ac;
}

.layout_swiper_box .four-slide .logo {
  position: relative;
  width: 100%;
  height: 2.306667rem;
  background: url(../imgs/one-swiper/logo_bg.png) no-repeat;
  background-size: 100% 2.306667rem;
}

.layout_swiper_box .four-slide .logo img {
  display: block;
  position: absolute;
  right: 0.4rem;
  top: 0.8rem;
  width: 2.16rem;
  height: 1rem;
}

.layout_swiper_box .four-slide .title {
  margin-left: 0.533333rem;
}

.layout_swiper_box .four-slide .title img {
  width: 7.12rem;
  height: 1.013333rem;
}

.layout_swiper_box .four-slide .scan_box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5.866667rem;
  height: 7.733333rem;
  margin-left: -2.933333rem;
  margin-top: -3.866667rem;
  background: url(../imgs/one-swiper/scan_box_bg.png) no-repeat;
  background-size: contain;
}

.layout_swiper_box .four-slide .scan_box .scan_center {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
}

.layout_swiper_box .four-slide .scan_box .scan_center img {
  display: block;
  margin: auto;
  width: 5.04rem;
  height: 7.146667rem;
}

.logo_bg {
  width: 100%;
  height: auto;
}

.scan_box.active .scan_center img {
  animation: brightness 10s 1;
  animation-fill-mode: forwards;
}

.scan_box.active .qr-scanner .line {
  animation: radar-beam 2s 4;
}

.qr-scanner {
  position: absolute;
  top: 0.026667rem;
  left: 2%;
  width: 97%;
  height: 99%;
  margin: auto;
  overflow: hidden;
}

.qr-scanner .line {
  height: 100%;
  width: 100%;
  background-position: bottom;
  background: linear-gradient(180deg, rgba(0, 255, 51, 0) 43%, #1adbfc 211%);
  border-bottom: 0.04rem solid #1adbfc;
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  animation-timing-function: cubic-bezier(0.53, 0, 0.43, 0.99);
  animation-delay: 1.4s;
}

.next {
  position: absolute;
  bottom: 0.6rem;
  right: 0.4rem;
  animation: flicker-1 2s linear infinite;
}

.next img {
  width: 2.306667rem;
  height: 0.666667rem;
}

@keyframes switch-scale {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes bubble-01 {
  from {
    left: 5.733333rem;
    top: -1.6rem;
  }

  to {
    left: 1.866667rem;
    top: 2.133333rem;
    transform: scale(1);
  }
}

@keyframes bubble-01-floating {
  0%, 100% {
    left: 1.866667rem;
    top: 2.133333rem;
    transform: scale(1);
  }

  50% {
    left: 1.866667rem;
    top: 2rem;
  }
}

@keyframes bubble-02 {
  from {
    right: 2.266667rem;
    top: 5.333333rem;
  }

  to {
    right: 3.2rem;
    top: 2.133333rem;
    transform: scale(1);
  }
}

@keyframes bubble-02-floating {
  0%, 100% {
    right: 3.2rem;
    top: 2.133333rem;
    transform: scale(1);
  }

  50% {
    right: 3.2rem;
    top: 1.866667rem;
  }
}

@keyframes bubble-03 {
  from {
    top: 3.2rem;
    left: -1.866667rem;
  }

  to {
    top: 4rem;
    left: -1.066667rem;
    transform: scale(1);
  }
}

@keyframes bubble-03-floating {
  0%, 100% {
    top: 4rem;
    left: -1.066667rem;
    transform: scale(1);
  }

  50% {
    top: 3.866667rem;
    left: -1.066667rem;
  }
}

@keyframes bubble-04 {
  from {
    top: 2rem;
    left: 1.6rem;
  }

  to {
    top: 5.8rem;
    left: 3.6rem;
    transform: scale(1);
  }
}

@keyframes bubble-04-floating {
  0%, 100% {
    top: 5.8rem;
    left: 3.6rem;
    transform: scale(1);
  }

  50% {
    top: 5.666667rem;
    left: 3.6rem;
  }
}

@keyframes bubble-05 {
  from {
    right: -2rem;
    top: 2.506667rem;
  }

  to {
    right: -0.666667rem;
    top: 3.333333rem;
    transform: scale(1);
  }
}

@keyframes bubble-05-floating {
  0%, 100% {
    right: -0.666667rem;
    top: 3.333333rem;
    transform: scale(1);
  }

  50% {
    right: -0.666667rem;
    top: 3.2rem;
  }
}

@keyframes bubble-06 {
  from {
    top: 8.693333rem;
    right: -2rem;
  }

  to {
    top: 8rem;
    right: -1.866667rem;
    transform: scale(1);
  }
}

@keyframes bubble-06-floating {
  0%, 100% {
    top: 8rem;
    right: -1.866667rem;
    transform: scale(1);
  }

  50% {
    top: 7.866667rem;
    right: -1.866667rem;
  }
}

@keyframes bubble-07 {
  from {
    left: -1.866667rem;
    top: 9.866667rem;
  }

  to {
    left: 1.733333rem;
    top: 11.066667rem;
    transform: scale(1);
  }
}

@keyframes bubble-07-floating {
  0%, 100% {
    left: 1.733333rem;
    top: 11.066667rem;
    transform: scale(1);
  }

  50% {
    left: 1.733333rem;
    top: 10.933333rem;
  }
}

@keyframes bubble-08 {
  from {
    bottom: 0.666667rem;
    left: -2.133333rem;
  }

  to {
    bottom: 1.2rem;
    left: -1.2rem;
    transform: scale(1);
  }
}

@keyframes bubble-08-floating {
  0%, 100% {
    bottom: 1.2rem;
    left: -1.2rem;
    transform: scale(1);
  }

  50% {
    bottom: 1.066667rem;
    left: -1.2rem;
  }
}

@keyframes bubble-09 {
  from {
    right: -3.866667rem;
    bottom: 1.333333rem;
  }

  to {
    right: -1.066667rem;
    bottom: 1.866667rem;
    transform: scale(0.8);
  }
}

@keyframes bubble-09-floating {
  0%, 100% {
    right: -1.066667rem;
    bottom: 1.866667rem;
    transform: scale(0.8);
  }

  50% {
    right: -1.066667rem;
    bottom: 1.733333rem;
  }
}

@keyframes bubble-10 {
  from {
    bottom: 1.533333rem;
    left: 2.6rem;
  }

  to {
    right: -0.533333rem;
    bottom: 3rem;
    transform: scale(1);
  }
}

@keyframes bubble-10-floating {
  0%, 100% {
    right: -0.533333rem;
    bottom: 3rem;
    transform: scale(1);
  }

  50% {
    right: -0.533333rem;
    bottom: 2.866667rem;
  }
}

@keyframes bubble-11 {
  from {
    left: 4rem;
    bottom: -2.666667rem;
  }

  to {
    left: 2.466667rem;
    bottom: -1.066667rem;
  }
}

@keyframes bubble-11-floating {
  0%, 100% {
    left: 2.466667rem;
    bottom: -1.066667rem;
  }

  50% {
    left: 2.466667rem;
    bottom: -0.933333rem;
  }
}

@keyframes brightness {
  0% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(1.5);
  }
}

@keyframes radar-beam {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes flicker-1 {
  0%, 100% {
    opacity: 1;
  }

  42% {
    opacity: 0.2;
  }

  60% {
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */
